// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.site-footer{
&-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 1rem;
    max-width: 1280px;
}

.footer-links {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    padding: 0;
    max-width: 1280px;

    @media (max-width: map-get($breakpoints, medium)) {
        width: 100%;
        justify-content: center;
    }

    width: 50%;

    a {
        color: $text-color;
        display: block;
        padding-left: 1.5rem;
    }

    .linkedin {
        background: url(assets/imgs/icon-linkedin.svg) left no-repeat;
        background-size: 1rem;
        margin-left: 1rem;
    }

    .email {
        background: url(assets/imgs/icon-envelope.svg) left center no-repeat;
        background-size: 1rem;
        margin-right: 1rem;
    }
}

.site-info {
    padding: 0 1rem;
    color: $light-grey;
    text-align: center;
    a {
        color: $link-color-dark;
    }
}

.powered-by {
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
}

.menu-footer {
    padding: 1rem;

    a {
        padding: 0 1rem;
    }

    li:last-child {
        padding-left: 1rem;

        a {
            padding: 0 1rem 0 1.5rem;
        }
    }

    display: flex;
    justify-content: flex-end;
    width: 50%;

    @media (max-width: map-get($breakpoints, medium)) {
        width: 100%;
        justify-content: center;
    }

    .to-top>a {
        background: url(assets/imgs/seta-top.svg) left center no-repeat;
        background-size: 1rem;
        margin-right: 1rem;
    }
}
}